    <header id="top" class="header">
        <div class="text-vertical-center">   
        <div >
        	<%= image_tag("logo-gustavo.png", class: "logo") %>
         </div>     
            <h2 class="text-vertical">Rehabilitación - Prevención - Rendimiento</h2>
            <h1 class="titulo">Pagina en Construcción</h1>
            <a href="https://www.facebook.com/runninganalisis?fref=ts"><%= image_tag("fb.png", class: "img-responsive-center-block") %></a>
        </div>
    </header>
