    <header id="top" class="header">
        <div class="text-vertical-center">   
        <div >
        	<%= image_tag("Captura.png", class: "logo") %>
         </div>     
            <h2 class="text-vertical">Rendimiento - Productividad</h2>
            <h1 class="titulo">Página en Construcción</h1>
            <a href="https://twitter.com/productiva65"><%= image_tag("twitter.png", class: "minilogo") %></a>
        </div>
    </header>
